body{
    background-color: black;
}.App{
    background-image: url(image3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    width: 100%;
}
.Button{
    height: 45px;
    width: 110px;
    border-radius: 20px;
    margin-left: 30px;
}
.btn{
    padding-left: 1150px;
    padding-top: 30px;
    display: inline-flex;
}
ul{
    font-display: inherit;
    display: inline-flex;
    text-decoration: none;
   
text-shadow: 4px 3px white;
}
.name{
    color: white;
    font-size: calc(50px + 3vmin);
    font-style: italic;
    padding-left: 50px;
}
.name2{
    color: rgb(255, 255, 255);
    margin-left: 70px;
    margin-top: -50px;
}
.name3{
    color: black;
    font-size: calc(30px + 2vmin);
    font-style: italic;
    padding-left: 1100px;
    

}


